!!!
%html
	%head
		= render :partial => "home/head"
	%body
		.goTop ↑
		.full-screen
			.colorLine
			.header
				.text-center
					.dialog Click me!
					%a(href = "http://jananigel.github.io/sampleWeb/")
						%img.monkey(src = "img/logo.gif" width = "15%")
			.menu.screenWidth
				.menuLink
					%a(href = "#" data-menu = "resume") 簡&emsp;介
					%a(href = "#" data-menu = "introduct") 專&emsp;長
					%a(href = "#" data-menu = "portfolio") 作&emsp;品
					%a(href = "#" data-menu = "timeLine") 經&emsp;歷
					%a(href = "https://github.com/jananigel" target = "_blank") GitHub
					.pull-right
						%a.mail(href = "mailto:jananigel@hotmail.com")  jananigel@hotmail.com
			.banner
				%ul.img
					%li
						%img(src = "img/banner.jpg")
					%li
						%img(src = "img/banner.jpg")
					%li
						%img(src = "img/banner.jpg")
			.content.screenWidth
				.resume
					.col-md-6
						.photo(data-lightbox = "#resume")
							%img(src = "img/pic.png")
					.col-md-6
						.text
							%h4 Name:Kyle Chang
							%br
							%h4 Mail: jananigel@hotmail.com
							%br
							%h4 Skill(code): Javascript, HTML, CSS, ActionScript3, C#, Unity3D
							%br
							%h4 Skill(Design): Photoshop, Illustrator, 3Ds Max, Painter, Animate
							%br
							%h4 about: I'm a designer and a programmer, be a full-stack is my target.
				.introduct.clear
					.col-md-4.col-mobile
						.introSpace
							.introBor
								.title Coding
								.body
									%img(src = "img/code.jpg" width = "100%")
									%span &emsp;&emsp;透過自學學會了各式的程式語言，進而從中開發了幾個小遊戲，從物件的繪製到城市的撰寫都是獨立完成，而後學習的網頁亦如此。
									%hr
									.moreBtn
										%a(href = "https://github.com/jananigel" target = "_blank") 看作品
					.col-md-4.col-mobile
						.introSpace
							.introBor
								.title Design
								.body
									%img(src = "img/tmp.jpg" width = "100%")
									%span &emsp;&emsp;設計內容包括封面、名片、橫幅、網頁、賀卡、書面等等，目前專職於網頁設計的工作中，平時亦可將自己所設計的作品結合程式語言讓他的應用範圍更加廣大。
									%hr
									.moreBtn
										%a(href = "#" data-menu = "portfolio") 看作品
					.col-md-4.col-mobile
						.introSpace
							.introBor
								.title Illustration
								.body
									%img(src = "img/illustration.jpg" width = "100%")
									%span &emsp;&emsp;插畫也是自己的最愛，正努力經營專屬的粉絲團與不斷推出Line貼圖，也有透過網路商店將自己的插畫作品實體化，目前打算出一本繪本。
									%hr
									.moreBtn
										%a.pointer(data-lightbox = "#lightboxIll") 看作品
					.introBor.clear.portfolio
						.title
							Portfolio
						.body.text-center
							.inlineBlock(data-lightbox = "#lightboxWeb")
								%img(src = "img/images/1_01.gif" width = "200em" height = "200em")
								/%p Web Design
							.inlineBlock(data-lightbox = "#lightboxGra")
								%img(src = "img/images/1_02.gif" width = "200em" height = "200em")
								/%p Graphic Design
							.inlineBlock(data-lightbox = "#lightbox3D")
								%img(src = "img/images/1_03.gif" width = "200em" height = "200em")
								/%p 3D
							.inlineBlock(data-lightbox = "#lightboxApp")
								%img(src = "img/images/1_04.jpg" width = "200em" height = "200em")
								/%p APP ICON/UI
			.timeLine
				%section.cd-horizontal-timeline
					.timeline
						.events-wrapper
							.events
								%ol
									%li
										%a.selected(href = "#0" data-date = "01/09/2008") 2008
									%li
										%a(href = "#0" data-date = "01/10/2011") 2011
									%li
										%a(href = "#0" data-date = "25/06/2012") 2012
									%li
										%a(href = "#0" data-date = "01/08/2014") 2014
								%span.filling-line(aria-hidden = "true")
						%ul.cd-timeline-navigation
							%li
								%a.prev.inactive(href = "#0") Prev
							%li
								%a.next(href = "#0") Next
					.events-content
						%ol
							%li.selected(data-date = "01/09/2008")
								%h2 德明財經科技大學
								%em 多媒體設計學系 September 01th, 2008
								%p 大學畢業，學習平面設計、影片剪輯、3D/2D動畫製作。
								%p ● 於畢業專題團體獲獎第一
								%p ● 參與飛安宣傳海報比賽榮獲優選
								%p ● 縱貫線T-Shirt設計比賽入圍
							%li(data-date = "01/10/2011")
								%h2 任職於藝冠有限公司
								%em 美術設計 October 01th, 2011
								%p 工作內容為酒瓶雕刻，繪製人像並做整體版面設計，設計好後將內容雕刻於酒瓶上。
							%li(data-date = "25/06/2012")
								%h2 樂陞科技股份有限公司
								%em 工程師 June 25th, 2012
								%p ● 參與專案-Web Game 四神演武 擔任UI/UX工程師
								%p ● 參與專案-Mobile Game 彩虹魔法動物園 擔任UI/UX工程師、遊戲前端工程師
							%li(data-date = "01/08/2014")
								%h2 大理資訊股份有限公司
								%em 網頁設計/多媒體設計師 August 01th, 2014
								%p ● 網頁設計&emsp;&emsp;&emsp;● Banner設計
								%p ● 動畫設計&emsp;&emsp;&emsp;● 書本封面設計
								%p ● 平面設計
			= render :partial => "home/portfolio"
			.footer
				.screenWidth
					.col-md-4
						.logo
							%img(src = "img/logo.png")
					.col-md-4
						.info
							%p Name: Kyle_Chang
							%br
							%p Mail: jananigel@hotmail.com
							%br
							%p Mobile: 0987-052-269
					.col-md-4
						%a.fb-icon(href = "https://www.facebook.com/LanceJhang" target = "_blank") f
						%a.tw-icon(href = "https://twitter.com/HuaTofu" target = "_blank") t
						%a.google-icon(href = "https://plus.google.com/u/0/102249505195861952798/posts" target = "_blank") G+
						%a.mail-icon(href = "mailto:jananigel@hotmail.com") M

= livereload_js if ENV["RACK_ENV"] != "production"