%meta(http-equiv="X-UA-Compatible" content="IE=edge")
%meta{ :charset => "utf-8"}
%meta{ :content => "width=device-width, initial-scale=1.0", :name => "viewport"}
%title Hua Shen
%link(rel="apple-touch-icon-precomposed" sizes="144x144" href="img/icon/144-01.png")
%link(rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icon/114-01.png")
%link(rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icon/72-01.png")
%link(rel="apple-touch-icon-precomposed" href="img/icon/57-01.png")
%link(rel="shortcut icon" href="img/favicon.png")
%link{ :href => "./css/bootstrap.min.css", :rel => "stylesheet" }
%link{ :href => "./css/bootstrap.css", :rel => "stylesheet" }
%script{ :src => "./js/jquery.min.js"}
%script{ :src => "./js/bootstrap.min.js"}
%script{:src => "./js/main.js"}
%link{ :href => "./css/styles.css", :rel => "stylesheet" }
<!--[if lt IE 9]>
%script(src="./js/ie8-responsive-file-warning.js")
%script(src="./js/html5shiv.js")
%script(src="./js/respond.min.js")
<![endif]-->