.header
	.header-left
		%img(src = "img/header-pic-01.png")
	.text-center
		%a(href = "#" data-menu = "item")
			%img(src = "img/introduct-01.png")
		%a(href = "#" data-menu = "line")
			%img(src = "img/item-01.png")
		%a(href = "#" data-menu = "facebook")
			%img(src = "img/facebook-01.png")
	.header-right
		%img(src = "img/header-pic-01.png")